/*=====================PAGE TAGS======================*/
header {
  position: fixed;
  width: 100%;
  z-index: 100;
  background: white;
  top: 0;
}
header:hover {
  box-shadow: 0px 5px 5px 0px rgba(83, 83, 83, 0.18);
}
main {
  margin-top: 100px;
}
/*=====================TYPOGRAPHY======================*/
strong,
b {
  font-weight: bolder;
  font-weight: 500;
}

/*=====================NAV-BAR======================*/
.nav-bar {
  max-width: 1250px;
  margin: auto;
  background: white;
  z-index: 10;
  height: 100px;
}
.navbar-nav {
  margin: auto;
  width: 100%;
  justify-content: space-evenly;
}
/*NAVIGATION LINKS*/
.nav-link {
  border-top: solid 2px #7ca56c00;
  border-bottom: solid 2px #7ca56c00;
  font-family: "Titillium Web", sans-serif;
  font-size: 1.2em;
}
.nav-link:hover {
  border-top: solid 2px #7ca56c;
  border-bottom: solid 2px #7ca56c;
}
/*BOOKING LINK*/
.book-link {
  border-top: solid 2px #7ca56c;
  border-bottom: solid 2px #7ca56c;
  transition: all 100ms;
  display: none;
}
.book-link:hover {
  background: #7ca56c;
  color: white !important;
  border-radius: 4px;
}
/*LOGO HEADER*/
.navbar-brand {
  margin-right: 5rem;
}
.logo-image {
  height: 4em;
}

/*=====================CAROUSEL======================*/
.carousel-image {
  width: 100%;
  height: auto;
  max-height: 500px;
  object-fit: cover;
  /* filter: blur(2px); */
}
/*CAROUSEL CAPTIONS*/
.carousel-caption {
  background: #fff6;
  left: auto;
  width: 40%;
  padding: 1em;
  bottom: 5em;
  text-align: justify;
  right: 4em;
  border-radius: 5px;
  color: #262626;
  font-family: "Cormorant Garamond", serif;
  font-size: 1.1em;
}
.carousel-caption > span {
  display: block;
  color: white;
  text-align: center;
  border-bottom: solid 1px #fff6;
  width: 80%;
  margin: auto;
}
#ccwatermark {
  position: absolute;
  z-index: 10;
  opacity: 0.7;
  bottom: 2em;
  height: 25%;
  left: 2em;
}

/*=====================CONTAINERS======================*/
.container {
  font-family: "Quicksand", sans-serif;
  margin-bottom: 100px;
}
.container > h1 {
  text-align: center;
  padding: 20px;
}
.jumbotron {
  background: none;
}
.list-container {
  display: flex;
  justify-content: center;
  font-size: 1.2em;
}
.content-box {
  padding: 3em;
  border-bottom: solid #7ca56c 10px;
  border-top: solid #7ca56c 10px;
}
.type-holder {
  text-align: center;
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 400px;
  border-radius: 6px;
  box-shadow: 0px 0px 3px 1px rgba(0, 0, 0, 0.3);
  margin: 1em;
  overflow: hidden;
}
.type-holder > h4 {
  border-bottom: solid #dbdbdb 2px;
  width: 80%;
  margin-top: 1em;
}
.price-box {
  width: 80%;
  text-align: center;
}
.price-box > div {
  margin: auto;
  text-align: center;
  padding: 2em;
}
.price-box > div > h4 {
  font-weight: bolder;
  display: block;
  font-family: "Lobster", cursive;
  font-size: 2em;
  color: #474747;
}
.section-separator {
  height: 100px;
}
/*=====================HEADERS======================*/
.massage-header {
  padding: 1em;
  border-bottom: solid #7ca56c 10px;
  border-top: solid #7ca56c 10px;
  max-width: 750px;
}
.container-header {
  text-align: center;
  padding-bottom: 1em;
  border-bottom: solid 1px #0000004d;
  width: 80%;
  margin: 0 auto 1em auto;
}
.massage-types {
  display: flex;
}
/*=====================TEXT======================*/
.lead {
  text-align: center;
  line-height: 1.75em;
}
.bio-lead {
  text-align: justify;
}
.massage-text {
  margin: 1em 2em;
  text-align: left;
  max-width: 550px;
  font-size: 0.9em;
}
/*=====================IMAGES======================*/
.bio-image {
  float: left;
  margin: 0em 2em 0.5em 0em;
  border-radius: 5px;
}
.credit-img {
  margin: auto;
  display: block;
}
.massage-image {
  height: 170px;
  width: 100%;
  background-size: cover;
  background-position: center;
}
/*=====================TABLE======================*/
table {
  margin: auto;
  font-size: 1.1em;
}
th {
  text-align: center;
  padding: 0.5em;
}
td {
  border-bottom: solid #7ca56c 1px;
  padding: 0.8em;
  border-right: solid #7ca56c 1px;
  text-align: center;
}
tbody {
  border: solid #7ca56c 1px;
}
td > span {
  display: block;
  background: #7ca56c33;
  border-radius: 5px;
  margin: 1em auto;
}
/*=====================IMAGE BACKGROUNDS======================*/
#sport-massage-image {
  background-image: url("images/sports1.jpg");
}
#therapeutic-massage {
  background-image: url("images/physiotherapy-567021_1920.jpg");
}
#deep-tissue {
  background-image: url("images/adult-body-close-up-275768.jpg");
}
#pilates-class {
  background-image: url("images/active-activity-adult-1308746.jpg");
}
#zumba-class {
  background-image: url("images/images.jpeg");
}
#gold-class {
  background-image: url("images/Zumba_main.jpg");
}

.icon-tag {
  width: 15%;
  margin: 1em;
  opacity: 0.4;
}
